body {
    padding: 5%;
  
    background-color: tomato;
    border: double 6px hwb(0 41% 24%); 
  }
  h1 {
    color: blue;
  }
  p {
    color: rgb(14, 204, 241);
  }
  div{
    size: 100%;
    background-color: bisque;
  
  
  }
  table {
    text-align: center; 
    width: 50%;
    height: 50%; 
    border: double 4px hwb(0 41% 24%); 
   }
   .center-img {
    border: 15px solid yellow;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto }