
body {
	
	background-color: powderblue;
	padding-top: 2%;
	padding-left: 10%;
	padding-right: 20%;
	padding-bottom: 20%;
	}
h1{
	text-align: center;
	color: yellow;
	}
h2 {
	text-align: center;
	color: blue;
	
	}
p{
	color: red;
	}
ul{
	color: blue; 
	font-size: 120%;}
ol{
	color: red;
	font-size: 200%;
		}
		
