<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nomas</title>
</head>
<body>
    
    <div>
        <form method="post">
            <input type="text" name="id_nomnieks" id="id_nomnieks" placeholder="nomnieka ID"><br>
            <input type="text" name="vards" id="vards" placeholder="nomnieka vārds"><br>
            <input type="text" name="uzvards" id="uzvards" placeholder="nomnieka uzvārds"><br>
            <input type="text" name="talrunis" id="talrunis" placeholder="nomnieka talrunis"><br>
            <input class="button" type="submit" value="Sūtit"><br>    
        </form>
    </div>
    <br>
    <br>
    <div>
        <form method="post">
            <input type="text" name="id_instruments" id="id_instruments" placeholder="instrumenta ID"><br>
            <input type="text" name="istruments" id="instruments" placeholder="instrumenta nosaukums"><br>
            <input type="text" name="data" id="data" placeholder="nomas Data"><br>
            <input type="text" name="cena" id="cena" placeholder="nomas cena"><br>
            <input class="button" type="submit" value="Sūtit"><br>    
        </form>
    </div>
    <br>
    <br>
    <div>
        <form method="post">
            <input type="text" name="ID" id="id" placeholder="nomas ID"><br>
            <input type="text" name="id_nomnieks" id="id_nomnieks" placeholder="nomnieka ID"><br>
            <input type="text" name="id_instruments" id="id_instruments" placeholder="instrumenta ID"><br>
            <input class="button" type="submit" value="Sūtit"><br>    
        </form>
    </div>
    <br>

</body>
</html>